.activitiesWrapper
  @extend .paperSheet
  &__activities
    &__content
      margin-top: $paddingBig
      &__itemWrapper
        position: relative
        &:nth-child(even)
          .activitiesWrapper__activities__content__itemWrapper__item
            background: $grey-50
        &:last-of-type
          .activitiesWrapper__activities__content__itemWrapper__item
            border: 0
        &__item
          display: flex
          justify-content: space-between
          padding: $paddingBig
          flex-grow: 1
          word-break: break-word
          border-bottom: 1px solid $grey-200
          &:hover
            .activitiesWrapper__activities__content__itemWrapper__item__edit
              visibility: visible
          svg
            width: 14px
            height: 14px
            fill: $colorTextLight-1
          strong
            font-weight: 600
          span.label
            text-transform: uppercase
            font-size: 11px
            color: $colorTextLight
            margin-right: $paddingSmall
          &__icon
            flex-basis: 2%
            border-right: 1px solid $grey-200
            padding-right: $paddingBig
            display: flex
            align-items: center
          &__date
            margin-left: $paddingBig
            flex-basis: 16%
          &__action
            margin-left: $paddingBig
            flex-basis: 26%
            div
              display: inline
          &__comment
            margin-left: $paddingBig
            flex-basis: 30%
          &__user
            margin-left: $paddingBig
            flex-basis: 20%
          &__edit
            margin-left: $paddingBig
            display: flex
            justify-content: flex-end
            align-items: center
            flex-basis: 4%
            visibility: hidden
            .tooltipWrapper
              margin-left: $paddingSmall
              &:first-of-type
                margin-left: 0
              svg
                fill: $colorLink
                cursor: pointer
                margin-left: $paddingMedium
                &:hover
                  fill: $colorLinkHover
                &:first-of-type
                  margin-left: 0
