.activityWrapper
  &__activity
    &__content
      padding: $paddingBig
      &__item
        margin-bottom: $paddingGrid
        @extend .paperSheet
        padding: $paddingBig
        &:last-of-type
          margin-bottom: 0
