.agileWrapper
  &__agile
    &__content
      padding: 0 $paddingGrid $paddingGrid 0
      .kanbanBoardWrapper
        &__kanbanBoard
          &__header
            display: flex
            justify-content: flex-end
            align-items: center
            min-height: 28px
            padding: 8px 0 0 0
            &__indicator
              display: flex
              align-items: center
              color: $colorInformatory
              cursor: pointer
              svg
                margin-left: $paddingMedium
                width: 18px
                height: 18px
                -webkit-animation: bounceRight 2s infinite
                -moz-animation: bounceRight 2s infinite
                -o-animation: bounceRight 2s infinite
                animation: bounceRight 2s infinite
          &__content
            &__container
              display: flex
              align-items: stretch
              overflow-x: auto
              overflow-y: hidden
              padding-top: $paddingGrid
              .columnWrapper
                flex-basis: calc(25% - #{$paddingGrid})
                flex-shrink: 0
                margin-left: $paddingGrid
                min-height: 98px
                &__column
                  height: calc(100% - 30px)
                  &:hover
                    .columnWrapper__column__header__totalHideOnHover
                      display: none
                    .columnWrapper__column__header__icon
                      display: inline-flex
                  &__header
                    display: flex
                    align-items: center
                    justify-content: space-between
                    padding: 4px 8px
                    font-size: $fontSizeStandard-2
                    color: $colorTextLight
                    &__title
                      flex-grow: 1
                      display: flex
                      align-items: center
                      svg
                        margin-right: 4px
                        width: 14px
                        height: 14px
                        fill: $colorLink
                      input
                        @extend .activeInputField
                    &__total
                      font-weight: 600
                    &__totalHideOnHover
                      font-weight: 600
                    &__icon
                      display: none
                      margin-left: $paddingSmall
                      &:hover
                        svg
                          fill: $colorLink
                      svg
                        width: 16px
                        height: 16px
                        fill: $grey-400
                    &__iconAlwaysVisible
                      @extend .columnWrapper__column__header__icon
                      display: inline-flex
                  &__content
                    background: $grey-200
                    height: 100%
                    .itemsListWrapper
                      height: 100%
                      &__itemsList
                        .itemWrapper
                          &__item
                            margin-top: 2px
                            padding: $paddingMedium
                            border-radius: 2px
                            border: 1px solid $grey-300
                            background: white
                            &:hover
                              background: $grey-50
                              .itemWrapper__item__content__toggleActions
                                visibility: visible
                            &__content
                              display: flex
                              align-items: center
                              justify-content: flex-start
                              &__user
                                display: flex
                                align-items: center
                                svg
                                  fill: $colorTextLight
                                  width: 12px
                                  height: 12px
                                  margin-right: $paddingSmall
                              &__event
                                margin-right: $paddingMedium
                                &:hover
                                  .itemWrapper__item__content__event__defaultHidden
                                    display: block
                                  .itemWrapper__item__content__event__passed
                                    display: none
                                  .itemWrapper__item__content__event__withinOneDay
                                    display: none
                                  .itemWrapper__item__content__event__withinOneWeek
                                    display: none
                                svg
                                  @extend .iconStyleCircleClick
                                &__defaultHidden
                                  display: none
                                &__defaultVisibile
                                  display: block
                                &__passed
                                  svg
                                    background: $colorEventPassedDate !important
                                &__withinOneDay
                                  svg
                                    background: $colorEventWithinOneDay !important
                                &__withinOneWeek
                                  svg
                                    background: $colorEventWithinOneWeek !important
                              &__main
                                flex-grow: 1
                                &__mainTop
                                  &__dealName
                                    font-size: $fontSizeStandard2
                                    font-weight: 600
                                  &__prospectName
                                    font-weight: normal
                                    font-size: $fontSizeStandard
                                    display: flex
                                    align-items: center
                                    flex-wrap: wrap
                                  &__informationHolder
                                    margin-left: $paddingSmall
                                    font-size: $fontSizeStandard-2
                                    display: inline-flex
                                    svg
                                      width: 12px
                                      height: 12px
                                      fill: $colorTextLight
                                    &__red
                                      @extend .itemWrapper__item__content__main__mainTop__informationHolder
                                      svg
                                        fill: $colorEventPassedDate
                                &__mainBottom
                                  display: flex
                                  align-items: center
                                  justify-content: flex-start
                                  font-size: $fontSizeStandard-2
                                  flex-wrap: wrap
                                  &__label
                                    color: $colorTextLight-1
                                    margin-right: 4px
                              &__toggleActions
                                visibility: hidden
                                display: flex
                                align-items: flex-end
                                padding: 4px 0 4px 4px
                            &__bottom
                              display: flex
                              align-items: center
                              justify-content: center
                              margin-top: $paddingSmall
                              padding: $paddingMedium
                              cursor: default
                              svg
                                width: 32px
                                height: 32px
                                fill: $grey-300
                                cursor: pointer
                              &__lost
                                margin-right: 15%
                                &:hover
                                  svg
                                    fill: $colorDealLost
                              &__won
                                margin-left: 15%
                                &:hover
                                  svg
                                    fill: $colorDealWon

                            &__hidden
                              display: none
                .isDragging
                  .itemWrapper__item
                    background: $colorLink
                    border-color: $colorLink
                    color: white
                    svg
                      fill: white !important
                    &__content
                      &__event
                        svg
                          background: white !important
                          fill: $colorLink !important
                      &__main
                        &__mainBottom
                          &__label
                            opacity: 0.8
                            color: white

.agilePopupWrapper
  &__agilePopup
    &__content
      margin: $paddingBig 0
      display: flex
      align-items: center
      p
        margin-right: $paddingMedium
        white-space: nowrap
      input
        @extend .activeInputField
        width: 50%

.agileAddActivityWrapper
  &__agileAddActivity
    &__content
      margin: $paddingBig 0
      color: $colorTextLight
      &__isPerformed
        display: flex
        align-items: center
        justify-content: center
        &__choice
          @extend .agileAddActivityBoxDefault
          margin: 0 ($paddingBig / 2)
          svg
            margin-left: $paddingMedium
      h4
        margin-bottom: $paddingMedium
        text-transform: none
      &__actions
        margin: $paddingBig 0
        &__holder
          display: flex
          align-items: center
          flex-wrap: wrap
          &__action
            @extend .agileAddActivityBoxDefault
            flex-direction: column
            flex-basis: calc(33% - (#{$paddingSmall} * 2 / 3))
            margin: 0 $paddingSmall $paddingSmall 0
            svg
              margin-bottom: $paddingSmall
            &:nth-child(3n)
              margin-right: 0
      &__dateAndComment
        display: flex
        align-items: flex-start
        &__date
          input
            border-color: $grey-200 !important
            border-radius: 2px
            cursor: pointer
            &:hover
              border-color: $grey-300
              background: $grey-200
              color: $grey-500
        &__dateActive
          input
            background: $colorInformatory !important
            border-color: $colorInformatory !important
            color: white !important
            border-radius: 2px
            cursor: pointer
            &:hover
              background: $colorInformatory
              border-color: $colorInformatory
              color: white
        &__comment
          margin-left: $paddingBig
          flex-grow: 1
          textarea
            @extend .agileAddActivityBoxDefault
            width: 100%
            padding: $paddingSmall !important
            height: 38px
            color: $colorTextMain !important
      .agileAddActivityBoxDefault
        display: flex
        align-items: center
        justify-content: center
        border-radius: 2px
        background: $grey-100
        border: 1px solid $grey-200
        color: $grey-500
        cursor: pointer
        padding: $paddingBig
        &:hover
          background: $grey-200
          border-color: $grey-300
          color: $grey-600
          svg
            fill: $grey-500
        svg
          width: 24px
          height: 24px
          fill: $grey-400
      .agileAddActivityBoxActive
          background: $colorInformatory !important
          border-color: $colorInformatory !important
          color: white !important
          &:hover
            svg
              fill: white
          svg
            fill: white


