// Agile component (main)
.agileWrapper
  &__agile
    &__header
      margin-bottom: $paddingBig
    &__content
      padding: $paddingGrid $paddingGrid $paddingGrid 0

// KanbanBoard component.
.kanbanBoardWrapper
  &__kanbanBoard
    &__content
      display: flex
      overflow: auto
      &__column
        flex-basis: calc(25% - #{$paddingGrid})
        flex-shrink: 0
        margin-left: $paddingGrid

// KanbanBoardColumn component.
.kanbanBoardColumnWrapper
  height: 100%
  overflow: hidden
  &__kanbanBoardColumn
    height: 100%
    &__header
      display: flex
      align-items: center
      justify-content: space-between
      padding: 4px 8px
      font-size: $fontSizeStandard-2
      color: $colorTextLight
      &__title
        flex-grow: 1
    &__content
      background: $grey-200
      height: 100%

// KanbanBoardItem component.
.kanbanBoardItemWrapper
  &__kanbanBoardItem
    margin-top: 4px
    padding: $paddingMedium
    border-radius: 2px
    border: 1px solid $grey-300
    background: white
    &:hover
      background: $grey-100
    &__content
      display: flex
      align-items: center
      justify-content: flex-start
      &__activity
        margin-right: $paddingMedium
        svg
          @extend .iconStyleCircleClick
      &__main
        flex-grow: 1
        &__top
          display: flex
          align-items: center
          justify-content: space-between
          &__title
            flex-grow: 1
            font-size: $fontSizeStandard2
            font-weight: 600
          &__menu
            svg
              width: 16px
              height: 16px
        &__bottom
          display: flex
          align-items: center
          justify-content: flex-start
          font-size: $fontSizeStandard-2
          &__updated
            flex-grow: 1
            &__label
              color: $colorTextLight-1
              margin-right: 4px

// When card/column is being dragged
.isDragging
  opacity: 0.7
