// Company component
.companyWrapper
  &__company
    padding: $paddingGrid
    &__header
    &__content
      &__item
        margin-bottom: $paddingGrid
        &:last-of-type
          margin-bottom: 0

// CompanyInfo component
.companyInfoWrapper
  @extend .paperSheet
  padding: $paddingBig
  &__companyInfo
    &__header
      margin-bottom: $paddingBig
    &__content
