// Company and Koncern component share these styles
.companyWrapper
  &__company
    padding: $paddingGrid
    &__header
      margin-bottom: $paddingGrid
      display: flex
      font-size: $fontSizeStandard2
      h3
        @extend .headlineVeryLarge
      h4
        font-size: $fontSizeStandard-1
        color: $colorTextLight-2
        margin-bottom: $paddingSmall
      h5
        text-transform: none
        font-weight: 400
        font-size: $fontSizeStandard-1
        color: $colorTextLight-1
        margin-right: 4px
      p
        font-size: $fontSizeStandard-1
      a
        font-size: $fontSizeStandard-1
      span.dealLink
        margin-left: $paddingSmall
        &:first-of-type
          margin-left: 0
      input
        background: $colorHighLight
        border: 0
        width: 100%
        color: $colorTextDark
      &__left
        flex-grow: 1
        display: flex
        flex-direction: column
        &__top
          flex-grow: 1
          margin: $paddingMedium 0 $paddingBig 0
        &__bottom
          flex-grow: 1
          display: flex
          justify-content: flex-start
          flex-wrap: wrap
          &__item
            margin-right: $paddingBig
            margin-bottom: $paddingSmall
            display: flex
            align-items: center
            &__dealsHolder
              display: flex
              align-items: center
              flex-wrap: wrap
      &__right
        display: flex
        align-items: flex-end
        padding-bottom: $paddingSmall
        &__iconHolder
          margin-left: $paddingBig
          &:first-of-type
            margin-left: 0
        svg
          @extend .iconStyleCircleClick
        svg.active
          fill: white !important
          background: $colorLink !important
          &:hover
            background: $colorLinkHover !important
    &__content
      &__item
        margin-bottom: $paddingGrid
        @extend .paperSheet
        padding: $paddingBig
        &:last-of-type
          margin-bottom: 0

// CompanyInfo and KoncernInfo component share these styles
.companyInfoWrapper
  &__companyInfo
    &__content
      margin-top: $paddingBig
      padding: 0
      display: flex
      flex-wrap: wrap
      &__item
        margin: 2px 2px 0 0
        flex-basis: calc(25% - ((3 * 2px) / 4))
        max-width: calc(25% - ((3 * 2px) / 4))
        padding: $paddingMedium
        word-break: break-word
        background: $grey-100
        &:nth-child(4n)
          margin-right: 0
        &__companyInfoLabel
          font-weight: 600
        svg
          color: $colorLink
          cursor: pointer
          width: 14px
          height: 14px
          &:hover
            fill: $colorLinkHover
        &__field
          display: flex
          align-items: center
          p
            flex-grow: 1
            overflow: hidden
            text-overflow: ellipsis
            white-space: nowrap
          input
            flex-grow: 1
            border: 0
            border-bottom: 1px solid $grey-300
            padding: 4px
            background: white
          svg
            margin-left: $paddingMedium
            display: none
          &:hover
            svg
              display: inline
        &__addField
          margin-top: 4px
          display: flex
          align-items: center
        &__editField
          @extend .companyInfoWrapper__companyInfo__content__item__field
          svg
            display: inline

// KoncerStructure component
.companyStructureWrapper
  &__companyStructure
    &__content
      margin-top: $paddingBig
      .koncernStructureItem
        display: flex
        &__koncernStructureLevel1
          margin-right: calc(4px + #{$paddingMedium})
          margin-left: $paddingMedium
          position: relative
          &:after
            position: absolute
            top: 0
            content: ''
            display: block
            width: $paddingMedium
            height: 50%
            border-left: 1px solid $grey-600
            border-bottom: 1px solid $grey-600
        &__koncernStructureLevel2
          @extend .koncernStructureItem__koncernStructureLevel1
          margin-left: $paddingMedium * 2
        &__koncernStructureLevel3
          @extend .koncernStructureItem__koncernStructureLevel1
          margin-left: $paddingMedium * 3
        &__koncernStructureLevel4
          @extend .koncernStructureItem__koncernStructureLevel1
          margin-left: $paddingMedium * 4
        &__koncernStructureLevel5
          @extend .koncernStructureItem__koncernStructureLevel1
          margin-left: $paddingMedium * 5
        &__koncernStructureLevel6
          @extend .koncernStructureItem__koncernStructureLevel1
          margin-left: $paddingMedium * 6
        &__koncernStructureSameLevel1
          margin-right: calc(4px + #{$paddingMedium})
          margin-left: $paddingMedium
          border-left: 1px solid $grey-600
          position: relative
          &:after
            border-bottom: 1px solid $grey-600
            position: absolute
            top: 50%
            content: ''
            display: block
            width: $paddingMedium
            height: 1px
        &__koncernStructureSameLevel2
          @extend .koncernStructureItem__koncernStructureSameLevel1
          margin-left: $paddingMedium * 2
        &__koncernStructureSameLevel3
          @extend .koncernStructureItem__koncernStructureSameLevel1
          margin-left: $paddingMedium * 3
        &__koncernStructureSameLevel4
          @extend .koncernStructureItem__koncernStructureSameLevel1
          margin-left: $paddingMedium * 4
        &__koncernStructureSameLevel5
          @extend .koncernStructureItem__koncernStructureSameLevel1
          margin-left: $paddingMedium * 5
        &__koncernStructureSameLevel6
          @extend .koncernStructureItem__koncernStructureSameLevel1
          margin-left: $paddingMedium * 6
