.contactsWrapper
  @extend .paperSheet
  &__contacts
    &__content
      display: flex
      justify-content: space-between
      align-items: flex-start
      &__contacts
        display: flex
        flex-wrap: wrap
        flex-grow: 1
        &__item
          background: $grey-50
          flex-basis: calc(33.33% - (#{$paddingBig} / 3 * 2))
          flex-grow: 0
          flex-shrink: 0
          min-width: 0
          display: flex
          justify-content: space-between
          margin: $paddingBig $paddingBig 0 0
          height: 72px
          &:nth-child(3n)
            margin-right: 0
          svg
            cursor: pointer
          &__icon
            padding: 0 $paddingMedium
            flex-basis: 8%
            flex-shrink: 0
            flex-grow: 0
            display: flex
            align-items: center
            justify-content: center
          &__infoHolder
            display: flex
            align-items: center
            flex-grow: 1
            min-width: 0
            &__info
              overflow: hidden
              padding-right: $paddingMedium
              &__name
                text-overflow: ellipsis
                overflow: hidden
                white-space: nowrap
                color: $colorTextMain
                font-weight: 600
              &__address
                text-overflow: ellipsis
                white-space: nowrap
                overflow: hidden
      &__search
        flex-basis: calc(33.33% - (#{$paddingBig} / 3 * 2))
        flex-grow: 0
        flex-shrink: 0
        min-width: 0
        background: transparent
        border: 0
        border-radius: 0
        display: flex
        flex-direction: column
        align-items: flex-start
        padding: 0
        margin: $paddingBig $paddingBig 0 0
        h4
          font-size: 11px
          line-height: 14px
