.contactsWrapper
  @extend .paperSheet
  padding: $paddingBig
  &__contacts
    &__header
    &__content
      display: flex
      justify-content: space-between
      align-items: flex-start
      margin-top: $paddingBig
      &__contacts
        display: flex
        flex-wrap: wrap
        flex-grow: 1
        align-items: flex-start
        background: $grey-100
        padding: 0 0 $paddingMedium $paddingMedium
        &__item
          @extend .shadowSmall
          flex-basis: calc(33.33% - #{$paddingMedium})
          flex-grow: 0
          flex-shrink: 0
          min-width: 0
          margin: $paddingMedium $paddingMedium 0 0
          word-break: break-word
          border-radius: 4px
          border: 1px solid $grey-200
          background: white
          &:nth-child(3n)
            margin-right: 0
          &:hover
            .contactsWrapper__contacts__content__contacts__item__header__edit
              visibility: visible
          input
            width: 100%
            margin-bottom: 4px
            border: 1px solid $grey-300
            background: $grey-50
            padding: ($paddingSmall / 2) $paddingSmall
            &:last-of-type
              margin-bottom: 0
          &__header
            display: flex
            justify-content: flex-start
            align-items: center
            border-bottom: 1px solid $grey-200
            padding: $paddingMedium
            border-radius: 4px 4px 0 0
            svg
              width: 16px
              height: 16px
            &__icon
              display: flex
              align-items: center
              margin-right: $paddingMedium
              svg
                fill: $grey-400
            &__name
              flex-grow: 1
              display: flex
              align-items: center
              justify-content: space-between
              white-space: nowrap
              overflow: hidden
              text-overflow: ellipsis
              text-transform: uppercase
              font-weight: 600
              font-size: 12px
            &__edit
              visibility: hidden
              display: flex
              align-items: center
              margin-left: $paddingMedium
              svg
                fill: $colorLink
                cursor: pointer
                &:hover
                  fill: $colorLinkHover
          &__content
            padding: $paddingMedium
            &__row
              display: flex
              align-items: flex-start
              margin-bottom: $paddingSmall
              &:last-of-type
                margin-bottom: 0
              &__left
                margin: 0 $paddingSmall 0 0
                color: $colorTextLight-1
                white-space: nowrap
              &__right
                flex-grow: 1
                &__entities
                  display: flex
                  align-items: flex-start
                  flex-wrap: wrap
                  &__entity
                    display: flex
                    align-items: center
                    margin-right: $paddingMedium
                    &:last-of-type
                      margin-right: 0
                    svg
                      width: 14px
                      height: 14px
                      margin-left: $paddingMedium
                      cursor: pointer
                      fill: $colorLink
                      &:hover
                        fill: $colorLinkHover
                &__addField
                  display: flex
                  align-items: center
                  cursor: pointer
                  margin-top: 4px
                  &:hover
                    svg
                      fill: $colorLinkHover
                  svg
                    width: 14px
                    height: 14px
                    fill: $colorLink
              &__buttons
                padding: 0 10%
                display: flex
                flex-grow: 1
                justify-content: space-between
                margin-top: $paddingBig
                svg
                  width: 30px
                  height: 30px
                  cursor: pointer
                  fill: $colorLink
                  &:hover
                    fill: $colorLinkHover
      &__search
        flex-basis: calc(25% - (#{$paddingBig} / 2))
        flex-grow: 0
        flex-shrink: 0
        min-width: 0
        background: transparent
        border: 0
        border-radius: 0
        display: flex
        flex-direction: column
        align-items: flex-start
        padding: 0
        margin-right: $paddingBig
        h4
          font-size: 11px
          line-height: 14px
