.dashboardWrapper
  &__dashboard
    &__content
      padding: $paddingGrid
      display: flex
      &__left
        flex-basis: calc(50% - (#{$paddingGrid} / 2))
        margin-right: ($paddingGrid / 2)
      &__right
        flex-basis: calc(50% - (#{$paddingGrid} / 2))
        margin-left: ($paddingGrid / 2)
      &__item
        margin-top: $paddingGrid
        @extend .paperSheet
        padding: $paddingBig
        &:first-child(1)
          margin-top: 0
