.dealWrapper
  padding: $paddingGrid
  &__deal
    &__header
      padding-bottom: $paddingMedium
      border-bottom: 1px solid $grey-300
      margin-bottom: $paddingGrid
      display: flex
      flex-direction: column
      &__top
        width: 100%
        margin-bottom: ($paddingBig * 1.5)
        h3
          @extend .headlineVeryLarge
        h4
          font-size: 12px
          color: $colorTextLight-1
          margin-bottom: $paddingSmall
      &__bottom
        width: 100%
        display: flex
        justify-content: space-between
        &__left
          display: flex
          font-size: 16px
          font-weight: 400
          &__item
            margin-left: $paddingGreat
            &:first-of-type
              margin-left: 0
            h4
              font-size: 12px
              color: $colorTextLight-1
        &__right
          &__item
            display: flex
            justify-content: flex-end
            align-items: center
            .tooltipWrapper
              margin-left: $paddingBig
              &:first-of-type
                margin-left: 0
            svg
              @extend .iconStyleCircleClick
    &__content
      &__item
        margin-bottom: $paddingGrid
        &:last-of-type
          margin-bottom: 0

.dealProspectsListsWrapper
  @extend .paperSheet
  &__dealProspectsLists
    &__content
      display: flex
      flex-wrap: wrap
      &__item
        border: 1px solid $grey-100
        background: $grey-50
        flex-basis: calc(25% - #{$paddingBig} - (#{$paddingBig} / 3))
        flex-grow: 0
        flex-shrink: 0
        margin: $paddingBig $paddingBig 0 0
        border-radius: 4px
        &:hover
          .dealProspectsListsWrapper__dealProspectsLists__content__item__infoHolder__icon
            display: none
          .dealProspectsListsWrapper__dealProspectsLists__content__item__hidden
            display: flex
        &:last-of-type
          margin-right: 0
        a
          display: flex
          align-items: stretch
          justify-content: space-between
          color: $colorTextLight
          border-radius: 4px
        &__infoHolder
          display: flex
          max-width: calc(100% - 36px - #{$paddingMedium})
          align-items: center
          &__icon
            padding-left: $paddingMedium
            svg
              fill: $colorTextLight-1
          &__info
            overflow: hidden
            padding: $paddingMedium
            &__name
              text-overflow: ellipsis
              overflow: hidden
              white-space: nowrap
              color: $colorTextMain
              font-weight: 600
            &__address
              text-overflow: ellipsis
              white-space: nowrap
        &__linkHolder
          background: $colorLink
          width: 36px
          display: flex
          align-items: center
          justify-content: center
          &:hover
            background: $colorLinkHover
          svg
            fill: white
        &__hidden
          display: none
          padding-left: $paddingMedium
          align-items: center
          svg
            fill: $colorLink
          &:hover
            svg
              fill: $colorLinkHover
      &__search
        @extend .dealProspectsListsWrapper__dealProspectsLists__content__item
        background: transparent
        border: 0
        border-radius: 0
        display: flex
        align-items: flex-end
        padding-bottom: 1px

