.dealWrapper
  padding: $paddingGrid
  &__deal
    &__header
      margin-bottom: $paddingGrid
      display: flex
      flex-direction: column
      font-size: 16px
      font-weight: 400
      input
        background: $colorHighLight
        border: 0
        width: 100%
        font-size: 16px
        color: $colorTextDark
        padding: $paddingSmall
      &__top
        flex-grow: 1
        margin-bottom: ($paddingBig * 1.5)
        h3
          @extend .headlineVeryLarge
        h4
          font-size: 12px
          color: $colorTextLight-1
          margin-bottom: $paddingSmall
        input.name
          @extend .headlineVeryLarge
          @extend h3
          background: transparent
          &:first-line
            background: $colorHighLight
      &__middle
        flex-grow: 1
        display: flex
        justify-content: space-between
        padding-bottom: $paddingMedium
        border-bottom: 1px solid $grey-300
        margin-bottom: $paddingGrid
        h4
          font-size: 12px
          color: $colorTextLight-1
          margin-bottom: 0
        &__left
          display: flex
          &__item
            margin-left: $paddingGreat
            &:first-of-type
              margin-left: 0
        &__right
          &__item
            display: flex
            justify-content: flex-end
            align-items: center
            .tooltipWrapper
              margin-left: $paddingBig
              &:first-of-type
                margin-left: 0
            svg
              @extend .iconStyleCircleClick
            svg.active
              fill: white !important
              background: $colorLink !important
              &:hover
                background: $colorLinkHover !important
      &__bottom
        padding-bottom: $paddingMedium
        border-bottom: 1px solid $grey-300
        flex-grow: 1
        display: flex
        justify-content: space-between
        h4
          font-size: 12px
          color: $colorTextLight-1
          margin-bottom: 0
        &__left
          flex-grow: 1
          display: flex
          flex-wrap: wrap
          &__item
            margin-left: $paddingGreat
            &:first-of-type
              margin-left: 0
        &__right
          flex-basis: calc(25% - #{$paddingGreat})
          min-width: 0
          margin-left: $paddingGreat
          &__item
            &__fileWrapper
              display: flex
              align-items: center
              justify-content: space-between
              flex-grow: 1
              &:hover
                svg
                  visibility: visible
              svg
                visibility: hidden
                width: 18px
                height: 18px
                fill: $colorLink
                cursor: pointer
                &:hover
                  svg
                    fill: $colorLinkHover
    &__content
      &__item
        margin-bottom: $paddingGrid
        &:last-of-type
          margin-bottom: 0
      &__itemsContainer
        @extend .dealWrapper__deal__content__item
        display: flex
        align-items: flex-start
        justify-content: space-between
        > div
          flex-basis: 50%
          &:nth-child(1)
            margin-right: ($paddingGrid / 2)
          &:nth-child(2)
            margin-left: ($paddingGrid / 2)

// DealProspects component.
.dealProspectsWrapper
  @extend .paperSheet
  &__dealProspects
    &__content
      display: flex
      justify-content: space-between
      align-items: flex-start
      margin-top: $paddingBig
      &__prospects
        display: flex
        flex-direction: column
        flex-grow: 1
        margin-left: ($paddingBig / 2)
        &__item
          border-bottom: 2px solid $grey-100
          display: flex
          flex-basis: 100%
          margin-top: $paddingBig
          padding-bottom: $paddingMedium
          &:hover
            .dealProspectsWrapper__dealProspects__content__prospects__item__icon__visible
              display: none
            .dealProspectsWrapper__dealProspects__content__prospects__item__icon__hidden
              display: flex
          &:first-of-type
            margin-top: 0
          svg
            cursor: pointer
            width: 16px
            height: 16px
          &__icon
            padding: 0 ($paddingMedium * 1.5) 0 0
            display: flex
            align-items: center
            justify-content: center
            min-height: 32px
            &__visible
              svg
                fill: $grey-400
            &__hidden
              display: none
              svg
                fill: $colorLink
              &:hover
                svg
                  fill: $colorLinkHover
          a
            display: flex
            align-items: center
            justify-content: space-between
            color: $colorTextLight
            flex-shrink: 1
            flex-basis: calc(100% - (18px + (#{$paddingMedium} * 1.5) ) )
            &:hover
              .dealProspectsWrapper__dealProspects__content__prospects__item__linkHolder
                svg
                  fill: $colorLinkHover
          &__infoHolder
            word-break: break-word
            flex-basis: calc(100% - (18px + (#{$paddingMedium} * 1.5) ) )
            min-width: 0
            &__info
              &__name
                color: $colorTextMain
                font-weight: 600
          &__linkHolder
            padding: 0 0 0 ($paddingMedium * 1.5)
            border-radius: 0 4px 4px 0
            display: flex
            align-items: center
            justify-content: center
            min-width: 0
            svg
              fill: $colorLink
      &__search
        flex-basis: calc(50% - (#{$paddingBig} / 2))
        flex-grow: 0
        flex-shrink: 0
        min-width: 0
        display: flex
        flex-direction: column
        align-items: flex-start
        margin-right: ($paddingBig / 2)
        h4
          font-size: 11px
          line-height: 14px

// DealCars component
.dealCarsWrapper
  @extend .paperSheet
  &__dealCars
    &__content
      display: flex
      justify-content: space-between
      align-items: flex-start
      margin-top: $paddingBig
      &__cars
        display: flex
        flex-direction: column
        margin-left: ($paddingBig / 2)
        flex-grow: 1
        &__item
          border-bottom: 2px solid $grey-100
          display: flex
          flex-basis: 100%
          margin-top: $paddingBig
          padding-bottom: $paddingMedium
          &:hover
            .dealCarsWrapper__dealCars__content__cars__item__icon__visible
              display: none
            .dealCarsWrapper__dealCars__content__cars__item__icon__hidden
              display: flex
          &:first-child
            margin-top: 0
          svg
            cursor: pointer
            width: 16px
            height: 16px
          &__icon
            padding: 0 ($paddingMedium * 1.5) 0 0
            display: flex
            align-items: center
            justify-content: center
            min-height: 32px
            flex-basis: calc (18px + ($paddingMedium * 1.5))
            &__visible
              svg
                fill: $grey-400
            &__hidden
              display: none
              svg
                fill: $colorLink
              &:hover
                svg
                  fill: $colorLinkHover
          a
            display: flex
            align-items: center
            justify-content: space-between
            color: $colorTextLight
            flex-shrink: 1
            flex-basis: calc(100% - (18px + (#{$paddingMedium} * 1.5) ) )
            &:hover
              .dealCarsWrapper__dealCars__content__cars__item__linkHolder
                svg
                  fill: $colorLinkHover
          &__infoHolder
            word-break: break-word
            flex-basis: calc(100% - (18px + (#{$paddingMedium} * 1.5) ) )
            min-width: 0
            &__regNum
              color: $colorTextMain
              font-weight: 600
          &__linkHolder
            padding: 0 0 0 ($paddingMedium * 1.5)
            border-radius: 0 4px 4px 0
            display: flex
            align-items: center
            justify-content: center
            min-width: 0
            svg
              fill: $colorLink
      &__search
        flex-basis: calc(50% - (#{$paddingBig} / 2))
        flex-grow: 0
        flex-shrink: 0
        min-width: 0
        display: flex
        flex-direction: column
        align-items: flex-start
        margin-right: ($paddingBig / 2)
        h4
          font-size: 11px
          line-height: 14px


