.dealWrapper
  &__deal
    padding: $paddingGrid
    &__header
      margin-bottom: $paddingGrid
      display: flex
      font-size: $fontSizeStandard2
      border-bottom: 1px solid $grey-300
      h3
        @extend .headlineVeryLarge
      h4
        font-size: $fontSizeStandard-1
        color: $colorTextLight-2
        margin-bottom: $paddingSmall
      h5
        text-transform: none
        font-weight: 400
        font-size: $fontSizeStandard-1
        color: $colorTextLight-1
        margin-right: 4px
      p
        font-size: $fontSizeStandard-1
      input
        background: $colorHighLight
        border: 0
        color: $colorTextDark
      input.large
        @extend .headlineVeryLarge
        @extend h3
        background: transparent
        padding: 0
        &:first-line
          background: $colorHighLight
      input.medium
        max-width: 150px
      input.small
        max-width: 60px
      .dropdownWrapper
        max-width: 200px
      &__left
        flex-grow: 1
        display: flex
        flex-direction: column
        &__top
          flex-grow: 1
          margin: $paddingMedium 0 $paddingMedium 0
        &__bottom
          flex-grow: 1
          display: flex
          justify-content: flex-start
          flex-wrap: wrap
          &__item
            margin-right: $paddingBig
            margin-bottom: $paddingSmall
            display: flex
            align-items: center
      &__right
        display: flex
        align-items: flex-end
        padding-bottom: $paddingSmall
        &__iconHolder
          margin-left: $paddingBig
          &:first-of-type
            margin-left: 0
        svg
          @extend .iconStyleCircleClick
        svg.active
          fill: white !important
          background: $colorLink !important
          &:hover
            background: $colorLinkHover !important
    &__content
      &__item
        margin-bottom: $paddingGrid
        @extend .paperSheet
        padding: $paddingBig
        &:last-of-type
          margin-bottom: 0
      &__itemsContainer
        margin-bottom: $paddingGrid
        display: flex
        align-items: flex-start
        justify-content: space-between
        > div
          @extend .paperSheet
          padding: $paddingBig
          flex-basis: 50%
          &:nth-child(1)
            margin-right: ($paddingGrid / 2)
          &:nth-child(2)
            margin-left: ($paddingGrid / 2)

// DealProspects component.
.dealProspectsWrapper
  &__dealProspects
    &__content
      display: flex
      justify-content: space-between
      align-items: flex-start
      margin-top: $paddingBig
      &__prospects
        display: flex
        flex-direction: column
        flex-grow: 1
        margin-left: ($paddingBig / 2)
        &__item
          border-bottom: 2px solid $grey-100
          display: flex
          flex-basis: 100%
          margin-top: $paddingBig
          padding-bottom: $paddingMedium
          &:hover
            .dealProspectsWrapper__dealProspects__content__prospects__item__icon__visible
              display: none
            .dealProspectsWrapper__dealProspects__content__prospects__item__icon__hidden
              display: flex
          &:first-of-type
            margin-top: 0
          svg
            cursor: pointer
            width: 16px
            height: 16px
          &__icon
            padding: 0 ($paddingMedium * 1.5) 0 0
            display: flex
            align-items: center
            justify-content: center
            min-height: 32px
            &__visible
              svg
                fill: $grey-400
            &__hidden
              display: none
              svg
                fill: $colorLink
              &:hover
                svg
                  fill: $colorLinkHover
          a
            display: flex
            align-items: center
            justify-content: space-between
            color: $colorTextLight-1
            flex-shrink: 1
            flex-basis: calc(100% - (18px + (#{$paddingMedium} * 1.5) ) )
            &:hover
              .dealProspectsWrapper__dealProspects__content__prospects__item__linkHolder
                svg
                  fill: $colorLinkHover
          &__infoHolder
            word-break: break-word
            flex-basis: calc(100% - (18px + (#{$paddingMedium} * 1.5) ) )
            min-width: 0
            &__info
              &__name
                color: $colorTextMain
                font-weight: 600
          &__linkHolder
            padding: 0 0 0 ($paddingMedium * 1.5)
            border-radius: 0 4px 4px 0
            display: flex
            align-items: center
            justify-content: center
            min-width: 0
            svg
              fill: $colorLink
        &__itemNoRemove
          @extend .dealCarsWrapper__dealCars__content__cars__item
          &:hover // Same as item, but no remove icon for this class
            .dealProspectsWrapper__dealProspects__content__prospects__item__icon__visible
              display: inline
            .dealProspectsWrapper__dealProspects__content__prospects__item__icon__hidden
              display: none
      &__search
        flex-basis: calc(50% - (#{$paddingBig} / 2))
        flex-grow: 0
        flex-shrink: 0
        min-width: 0
        display: flex
        flex-direction: column
        align-items: flex-start
        margin-right: ($paddingBig / 2)
        h4
          font-size: $fontSizeStandard-2
          line-height: 14px

// DealCars component
.dealCarsWrapper
  &__dealCars
    &__content
      display: flex
      justify-content: space-between
      align-items: flex-start
      margin-top: $paddingBig
      &__cars
        display: flex
        flex-direction: column
        margin-left: ($paddingBig / 2)
        flex-grow: 1
        &__item
          border-bottom: 2px solid $grey-100
          display: flex
          flex-basis: 100%
          margin-top: $paddingBig
          padding-bottom: $paddingMedium
          &:hover
            .dealCarsWrapper__dealCars__content__cars__item__icon__visible
              display: none
            .dealCarsWrapper__dealCars__content__cars__item__icon__hidden
              display: flex
          &:first-child
            margin-top: 0
          svg
            cursor: pointer
            width: 16px
            height: 16px
          &__icon
            padding: 0 ($paddingMedium * 1.5) 0 0
            display: flex
            align-items: center
            justify-content: center
            min-height: 32px
            flex-basis: calc (18px + ($paddingMedium * 1.5))
            &__visible
              svg
                fill: $grey-400
            &__hidden
              display: none
              svg
                fill: $colorLink
              &:hover
                svg
                  fill: $colorLinkHover
          a
            display: flex
            align-items: center
            justify-content: space-between
            color: $colorTextLight-1
            flex-shrink: 1
            flex-basis: calc(100% - (18px + (#{$paddingMedium} * 1.5) ) )
            &:hover
              .dealCarsWrapper__dealCars__content__cars__item__linkHolder
                svg
                  fill: $colorLinkHover
          &__infoHolder
            word-break: break-word
            flex-basis: calc(100% - (18px + (#{$paddingMedium} * 1.5) ) )
            min-width: 0
            &__regNum
              color: $colorTextMain
              font-weight: 600
          &__linkHolder
            padding: 0 0 0 ($paddingMedium * 1.5)
            border-radius: 0 4px 4px 0
            display: flex
            align-items: center
            justify-content: center
            min-width: 0
            svg
              fill: $colorLink
        &__itemNoRemove
          @extend .dealCarsWrapper__dealCars__content__cars__item
          &:hover // Same as item, but no remove icon for this class
            .dealCarsWrapper__dealCars__content__cars__item__icon__visible
              display: inline
            .dealCarsWrapper__dealCars__content__cars__item__icon__hidden
              display: none
      &__search
        flex-basis: calc(50% - (#{$paddingBig} / 2))
        flex-grow: 0
        flex-shrink: 0
        min-width: 0
        display: flex
        flex-direction: column
        align-items: flex-start
        margin-right: ($paddingBig / 2)
        h4
          font-size: $fontSizeStandard-2
          line-height: 14px

// DealFiles component
.dealFilesWrapper
  &__dealFiles
    &__content
      margin-top: $paddingBig
      &__files
        display: flex
        justify-content: flex-start
        align-items: center
        flex-wrap: wrap
        padding: 0 $paddingBig $paddingBig $paddingBig
        background: $grey-100
        &__file
          margin-top: $paddingBig
          display: flex
          align-items: center
          justify-content: flex-start
          margin-left: $paddingBig
          border-left: 1px solid $grey-300
          padding-left: $paddingBig
          flex-basis: calc(25% - ((3 * #{$paddingBig}) / 4))
          min-width: 0
          &:hover
            .dealFilesWrapper__dealFiles__content__files__file__icon
              display: none
            .dealFilesWrapper__dealFiles__content__files__file__remove
              display: flex
          &:first-of-type
            margin-left: 0
            border-left: 0
            padding-left: 0
          &:nth-child(5n)
            margin-left: 0
            border-left: 0
            padding-left: 0
          svg
            width: 14px
            height: 14px
          &__icon
            margin-right: $paddingSmall
            display: flex
            align-items: center
            justify-content: center
            svg
              fill: $colorInformatory
          p
            flex-grow: 1
            overflow: hidden
            text-overflow: ellipsis
            white-space: nowrap
          &__remove
            @extend .dealFilesWrapper__dealFiles__content__files__file__icon
            display: none
            &:hover
              svg
                fill: $colorLinkHover
            svg
              fill: $colorLink
              cursor: pointer
          a
            margin-left: $paddingBig
        &__fileNoRemove
          @extend .dealFilesWrapper__dealFiles__content__files__file
          &:hover // Same as file, but no remove icon for this class
            .dealFilesWrapper__dealFiles__content__files__file__icon
              display: flex
            .dealFilesWrapper__dealFiles__content__files__file__remove
              display: none
