.excelWrapper
  &__excel
    &__content
      margin: $paddingBig 0
      &__selectors
        &__section
          display: flex
          flex-wrap: wrap
          &__header
            flex-basis: 100%
            display: flex
            align-items: center
            margin: $paddingBig 0 $paddingSmall 0
            cursor: pointer
          &__item
            flex-basis: calc(50% - #{$paddingMedium})
            display: flex
            align-items: center
            color: $colorTextLight-1
            cursor: pointer
            &:nth-child(even)
              margin-right: ($paddingMedium / 2)
            &:nth-child(odd)
              margin-left: ($paddingMedium / 2)
            &:hover
              color: $colorLinkHover
              svg
                fill: $colorLinkHover
            svg
              width: 16px
              height: 16px
              fill: $colorLink
              margin-right: $paddingSmall
            &__active
              @extend .excelWrapper__excel__content__selectors__section__item
              color: $colorTextMain
