// FleetAnalysis component
.fleetAnalysisWrapper
  &__fleetAnalysis
    padding: $paddingGrid
    &__content
      &__item
        margin-bottom: $paddingGrid
        @extend .paperSheet
        padding: $paddingBig
        &:last-of-type
          margin-bottom: 0

// FleetAnalysisCharts component
.fleetAnalysisChartsWrapper
  &__fleetAnalysisCharts
    &__content
      margin-top: $paddingBig
      display: flex
      flex-wrap: wrap
      background: $grey-100
      padding: 0 0 $paddingSmall $paddingSmall
      &__itemHalf
        flex-basis: calc(50% - #{$paddingSmall})
        flex-grow: 0
        flex-shrink: 0
        min-width: 0
        margin-top: $paddingSmall
        margin-right: $paddingSmall
        padding: $paddingMedium
        overflow: hidden
        background: white
      &__itemThird
        flex-basis: calc(33.33% - #{$paddingSmall})
        flex-grow: 0
        flex-shrink: 0
        min-width: 0
        margin-top: $paddingSmall
        margin-right: $paddingSmall
        padding: $paddingMedium
        overflow: hidden
        background: white
