.infoBoxWrapper
  &__infoBox
    background: $grey-100
    padding: $paddingMedium $paddingMedium
    display: flex
    &__icon
      margin-right: $paddingMedium
      svg
        fill: $colorInformatory
        width: 22px
        height: 22px
    &__content
      color: $colorTextLight
      display: flex
      flex-direction: column
      flex-wrap: wrap
      flex-grow: 1
      align-items: flex-start
      p
        margin-bottom: 4px
        &:last-child
          margin-bottom: 0
