.listsWrapper
  &__lists
    &__content
      padding: $paddingGrid
      &__item
        margin-bottom: $paddingGrid
        @extend .paperSheet
        padding: $paddingBig
        &:last-of-type
          margin-bottom: 0
        &__content
          margin-top: $paddingBig

