.listsWrapper
  &__lists
    &__content
      padding: $paddingGrid
      &__item
        margin-bottom: $paddingGrid
        @extend .paperSheet
        padding: $paddingBig
        &:last-of-type
          margin-bottom: 0
        &__header
          margin-bottom: $paddingBig

.listsPopupWrapper
  &__listsPopup
    &__content
      margin: $paddingBig 0
      display: flex
      align-items: center
      input
        @extend .activeInputField
        margin-left: $paddingSmall
      p
        white-space: nowrap

.shareListsWrapper
  &__shareLists
    &__content
      margin-top: $paddingBig
      &__lists
        display: flex
        align-items: flex-start
        margin-bottom: $paddingSmall
        &__label
          white-space: nowrap
          margin-right: $paddingSmall
          font-weight: 600
        &__lists
          flex-grow: 1
          display: flex
          align-items: center
          flex-wrap: wrap
      &__selectedUsers
        display: flex
        align-items: flex-start
        margin-bottom: $paddingSmall
        &__label
          @extend .shareListsWrapper__shareLists__content__lists__label
        &__users
          flex-grow: 1
          display: flex
          align-items: center
          flex-wrap: wrap
      &__users
        display: flex
        flex-wrap: wrap
        margin-bottom: $paddingBig
        font-size: $fontSizeStandard1
        &__dealer
          font-size: $fontSizeStandard1
          margin: $paddingMedium 0 $paddingSmall 0
          flex-basis: 100%
          font-weight: 600
        &__user
          display: flex
          align-items: center
          margin: 0 $paddingMedium $paddingSmall 0
          &:last-of-type
            margin-right: 0
          svg
            cursor: pointer
            width: 14px
            height: 14px
            fill: $colorTextLight !important
            margin-right: 4px
            &:hover
              fill: $colorLinkHover
          svg.active
            fill: $colorLink !important
      .bullet
        margin: 0 $paddingSmall
        color: $colorTextLight-2

// SplitList component
.splitListWrapper
  &__splitList
    &__content
      margin: $paddingBig 0
      .light
        color: $colorTextLight-2
      &__info
        margin-bottom: $paddingBig
        p
          display: flex
          span.label
            margin-right: 4px
            font-weight: 600
      &__hint
        display: flex
        justify-content: center
        margin-bottom: $paddingBig
        &__box
          max-width: 80%
          font-size: $fontSizeStandard-2
          background: $grey-50
          padding: $paddingSmall
          border-radius: 4px
          border: 1px solid $grey-200
      &__row
        display: flex
        align-items: center
        width: 100%
        margin-top: $paddingMedium
        &:first-of-type
          margin-top: 0
        input
          @extend .activeInputField
          &:disabled
            background: $grey-100
            color: $colorTextLight-2
            border-color: transparent !important
        svg
          fill: $grey-300 !important
          width: 14px
          height: 14px
          cursor: default
        &__size
          flex-basis: 10%
          margin-right: $paddingMedium
          display: flex
          justify-content: center
          min-width: 0
          input
            text-align: center
        &__touched
          flex-basis: 10%
          margin-right: $paddingMedium
          display: flex
          justify-content: center
          min-width: 0
          svg.active
            fill: $colorInformatory !important
            &:hover
              fill: $colorInformatory !important
        &__name
          flex-grow: 1
          margin-right: $paddingMedium
          min-width: 0
        &__remove
          flex-basis: 10%
          display: flex
          justify-content: center
          min-width: 0
          svg.active
            cursor: pointer
            fill: $colorLink !important
            &:hover
              fill: $colorLinkHover !important
      &__addRow
        color: $colorLink
        margin-top: $paddingBig
        display: inline-block
        cursor: pointer
        &:hover
          color: $colorLinkHover


