.menuWrapper
  &__menu
    &__main
      display: flex
      align-items: stretch
      background: $grey-100
      width: 100%
      padding: 0 $paddingGrid
      border-bottom: 2px solid white
      flex-wrap: wrap
    &__sub
      @extend .menuWrapper__menu__main
    .menuItem
      display: flex
      align-items: center
      padding: 4px ($paddingBig * 1.5)
      cursor: pointer
      color: $colorTextLight
      min-height: 44px
      white-space: nowrap
      &:hover
        background: $grey-200
        color: $colorLinkHover
        svg
          fill: $colorLinkHover
        .dropdownWrapper__dropdown__header
          color: $colorLinkHover
          svg
            fill: $colorLinkHover
      svg
        width: 10px
        height: 10px
        fill: $colorTextLight
        margin-left: $paddingSmall
      span.listBullet
        margin-right: $paddingSmall

      // Adjust the dropdown when it appears in menuItem
      .dropdownWrapper
        min-width: 0
      .dropdownWrapper__dropdown__header
        border: 0
        background: transparent
        color: $colorTextLight
        padding: 0
        &:hover
          color: $colorLinkHover
          svg
            fill: $colorLinkHover
        svg
          fill: $colorTextLight
          width: 22px
          height: 22px
          margin-right: 0
      .dropdownWrapper__dropdown__content
        top: 41px
        left: -$paddingBig * 2
        padding: 0
      .dropdownItemWrapper
        padding: $paddingMedium $paddingBig
        cursor: pointer
        &:hover
          background: $grey-100
          color: $colorLinkHover
        svg
          display: none
      &__disabled
        @extend .menuItem
        color: $colorTextLight-2
        background: transparent
        cursor: default
        &:hover
          background: transparent
          color: $colorTextLight-2
          svg
            fill: $colorTextLight-2
        svg
          fill: $colorTextLight-2
      &__active
        @extend .menuItem
        background: $grey-200
        color: $colorTextLight
