// Person component
.personWrapper
  &__person
    padding: $paddingGrid
    &__header
    &__content
      &__item
        margin-bottom: $paddingGrid
        @extend .paperSheet
        padding: $paddingBig
        &:last-of-type
          margin-bottom: 0

// PersonInfo component
.personInfoWrapper
  &__personInfo
    &__content
