.saveToListWrapper
  &__saveToList
    &__content
      margin-top: $paddingBig
      &__menu
        display: flex
        width: 100%
        margin-bottom: $paddingMedium
        &__item
          margin-right: $paddingBig
          cursor: pointer
          color: $colorLink
          &:hover
            color: $colorLinkHover
      &__newList
        display: flex
        align-items: flex-end
        width: 100%
        margin-bottom: $paddingMedium
        p
          margin-right: $paddingMedium
          white-space: nowrap
        input
          @extend .activeInputField
          width: 30%
