.searchMainWrapper
    margin-left: $paddingBig
    width: 60%
    &__searchMain
        &__header
            display: flex
            justify-content: flex-end
            align-items: center
            width: 100%
            svg
                @extend .iconStyleCircleClick
            input
                color: $colorTextMain
                padding: $paddingMedium ($paddingMedium * 1.5)
                border: 0
                width: 100%
                font-size: 16px
                border-bottom: 1px solid $grey-300
                margin-right: $paddingBig
                &::placeholder
                    color: $grey-400
                    font-size: 13px
                &:-ms-input-placeholder
                    color: $grey-400
                    font-size: 13px
                &::-ms-input-placeholder
                    color: $grey-400
                    font-size: 13px
                &::-webkit-input-placeholder
                    color: $grey-400
                    font-size: 13px
                &:focus
                    outline-width: 0
        &__content
            position: absolute
            top: 80%
            background: white
            z-index: 10
            max-width: $widthSearchMain
            @extend .shadowRegular
            &__searchResult
                &__item
                    color: $colorLink
                    font-size: 15px
                    padding: $paddingBig $paddingBig 0 $paddingBig
                    cursor: pointer
                    display: block
                    align-items: center
                    white-space: nowrap
                    overflow: hidden
                    text-overflow: ellipsis
                    &:last-of-type
                        margin-bottom: $paddingBig
                    &:hover
                        color: $colorLinkHover
                        svg
                            fill: $colorLinkHover
                        a
                            color: $colorLinkHover
                    a
                        display: flex
                        align-items: center
                    svg
                        fill: $colorLink
                        width: 14px
                        height: 14px
                        margin-right: $paddingMedium
                        border-radius: 0
                        background: transparent
                        padding: 0
            &__vehicleSearch
                background: $colorLink
                color: white
                cursor: pointer
                padding: $paddingBig
                display: flex
                justify-content: center
                align-items: center
                font-size: 18px
                font-weight: 600
                &:hover
                    background: $colorLinkHover
                svg
                    width: 16px
                    height: 16px
                    margin-left: $paddingMedium

.searchSelectWrapper
    width: 100%
    &__searchSelect
        &__header
            input
                color: $colorTextMain
                padding: $paddingMedium ($paddingMedium * 1.5)
                border: 0
                width: 100%
                font-size: 14px
                border-bottom: 1px solid $grey-300
                &::placeholder
                    color: $grey-400
                    font-size: 11px
                &:-ms-input-placeholder
                    color: $grey-400
                    font-size: 11px
                &::-ms-input-placeholder
                    color: $grey-400
                    font-size: 11px
                &::-webkit-input-placeholder
                    color: $grey-400
                    font-size: 11px
        &__content
