.tableWrapper
  width: 100%
  &__table
    &__content
      .MuiTableContainer-root
        overflow-y: hidden
        width: calc(100% + 1px)
      // Material-ui table.
      table
        min-width: 520px
        max-width: calc(100% - 1px)
        border-bottom: 1px solid $grey-300
        background: white
        thead
          tr
            th
              color: $colorTextDark !important
              font-size: $fontSizeStandard-2
              padding: 4px $paddingSmall
              &:last-child
                border-right: 0
        tbody
          tr
            &:last-child
              td
                border-bottom: 0
            td
              border-right: 1px solid $grey-300
              color: $colorTextLight !important
              font-size: $fontSizeStandard-2
              padding: $paddingSmall
              &:first-child
                border-left: 1px solid $grey-300
          .MuiTableRow-hover
            &:hover
              background: $grey-50 !important
        svg
          width: 16px
          height: 16px
          fill: $colorTextLight-2
        .MuiTableSortLabel-root
          display: flex
          align-items: center
          justify-content: space-between
          width: 100%
          svg
            width: 14px
            height: 14px
        .Mui-checked
          svg
            fill: $colorLink
        .MuiCheckbox-indeterminate
          svg
            fill: $colorLink
        .MuiCheckbox-root
          display: flex
          align-items: center
          justify-content: center
        .MuiIconButton-root
          padding: 0
          &:hover
            background-color: transparent
            svg
              fill: $colorLinkHover
    &__footer
      display: flex
      justify-content: space-between
      &__left
        display: flex
        align-items: center
        input
          margin: $paddingSmall 0
          @extend .whiteInputField
        .MuiFormControl-root
          margin: $paddingSmall
          label
            font-size: $fontSizeStandard-1
            white-space: nowrap
      &__middle
        display: flex
        align-items: center
        margin: 0 $paddingBig
        &__rowsPerPage
          color: $colorTextLight-1
          &__option
            margin-left: $paddingSmall
            cursor: pointer
            color: $colorLink
            &:hover
              color: $colorLinkHover
          &__optionActive
            @extend .tableWrapper__table__footer__middle__rowsPerPage__option
            color: $colorLinkHover
      &__right
        display: flex
        align-items: center
        .MuiTablePagination-root
          color: $colorTextLight-1
          svg
            fill: $colorLink
            width: 16px
            height: 16px
          .MuiIconButton-root
            &:hover
              background: transparent
              svg
                fill: $colorLinkHover
          .Mui-disabled
            svg
              fill: $colorTextLight-1
          .MuiTypography-body2
            font-size: $fontSizeStandard
          .MuiTablePagination-actions
            margin-left: $paddingSmall
