.widgetFooterWrapper
  &__widgetFooter
    color: $colorTextMain
    border-top: 1px solid $grey-300
    padding-top: $paddingMedium
    display: flex
    justify-content: flex-end
    button
      @extend .buttonSave
