.footer
  background: linear-gradient($teal-400, $teal-500)
  padding: ($padding-regular * 2)
  color: white
  display: flex
  justify-content: space-between
  align-items: flex-start
  h3
    border-bottom: 1px solid $teal-300
    flex-grow: 1
  &__item
    display: flex
    justify-content: flex-start
    align-items: center
    flex-grow: 1
    margin-right: $padding-regular * 2
    &:last-of-type
      margin-right: 0
  &__breadcrumbsWrapper
    .breadcrumbs
      flex-grow: 1
      &__content
        margin-top: $padding-regular * 1.5
        a, span
          padding: $padding-small $padding-regular
          color: white
          text-decoration: none
        a, span
          position: relative
          background: $teal-300
          &:after, &:before
            left: 100%
            top: 50%
            border: solid transparent
            content: ''
            height: 0
            width: 0
            position: absolute
            pointer-events: none
          &:after
            border-left-color: $teal-300
            border-width: 15px
            margin-top: -15px
        a
          z-index: 2
        span
          z-index: 1
          background: $teal-400
          &:after
            border-left-color: $teal-400
  &__contactWrapper
    .contact
      flex-grow: 1
  &__companyInfoWrapper
    .companyInfo
      flex-grow: 1
