*
  margin: 0
  padding: 0
  box-sizing: border-box
  line-height: 20px
  font-family: 'Source sans pro', sans-serif
  font-weight: 400

body
  background: $backgroundSite
  color: $colorTextMain
  font-size: 13px

.appHolder
  margin: 0 $paddingSite
