*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-size: 13px
  line-height: 20px
  font-family: 'Source sans pro', sans-serif
  font-weight: 400

body
  background: $backgroundSite
  color: $colorTextMain

.appHolder
  margin: 0 $paddingSite

.shadowRegular
  -webkit-box-shadow: 1px 3px 6px rgba(150, 150, 150, 0.3)
  -moz-box-shadow: 1px 3px 6px rgba(150, 150, 150, 0.3)
  box-shadow: 1px 3px 6px rgba(150, 150, 150, 0.3)

.scrollbarHide
  scrollbar-width: none
  -ms-overflow-style: none
  &::-webkit-scrollbar
    display: none

.scrollbarLight
  padding-right: $paddingSmall
  scrollbar-width: thin
  scrollbar-color: $grey-200 transparent
  &::-webkit-scrollbar
    width: 7px
  &::-webkit-scrollbar-track
    background: transparent
  &::-webkit-scrollbar-thumb
    background: $grey-200
    border-radius: 6px

// Div2 that listens for onClicks.
.clickHandler
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 4
.clickHandlerDark
  background: rgba(0, 0, 0, 0.7)
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 4


