.navigation
  background: linear-gradient($cyan-500, $cyan-600)
  border: 1px solid $cyan-600
  display: flex
  align-items: center
  height: 46px
  color: white
  &:after
    content: ''
    clear: both
    display: block
  &__menu
    display: flex
    justify-content: center
    width: calc(100% - 42px)
    float: left
  &__settingsBtn
    float: right
    width: 22px
    margin-right: 20px
  &__settings
    border: 1px solid purple
    background: #d2d2d2
    position: absolute
    top: 128px
    right: 20px
    padding: $padding-reg

