.buttonRegularSave
  background: $colorPrimary-500
  color: white
  display: flex
  align-items: center
  border-radius: 2px
  text-transform: uppercase
  font-size: 11px
  font-weight: 600
  letter-spacing: 1px
  justify-content: center
  cursor: pointer
  padding: $paddingSmall $paddingBig
  &:hover
    background: $colorLinkHover

.grid2Columns1Row
  display: grid
  grid-template-columns: calc(50% - (#{$paddingGrid} / 2)) calc(50% - (#{$paddingGrid} / 2))
  column-gap: $paddingGrid
  padding: $paddingGrid
  align-items: start

.iconStyleCircle
  display: flex !important
  align-items: center !important
  justify-content: center !important
  padding: $paddingSmall !important
  fill: $grey-500 !important
  background: $grey-200 !important
  border-radius: 50% !important
  cursor: default !important
  opacity: 0.7 !important
  width: 38px !important
  height: 38px !important
.iconStyleCircleClick
  @extend .iconStyleCircle
  fill: white !important
  background: $grey-400 !important
  cursor: pointer  !important
  &:hover
    background: $grey-700 !important

.paperSheet
  background: white
  padding: $paddingBig
  border: 1px solid $grey-200

.shadowRegular
  -webkit-box-shadow: 1px 3px 6px rgba(150, 150, 150, 0.3)
  -moz-box-shadow: 1px 3px 6px rgba(150, 150, 150, 0.3)
  box-shadow: 1px 3px 6px rgba(150, 150, 150, 0.3)

.shadowTop
  -webkit-box-shadow: 1px -3px 6px  rgba(0, 0, 0, 0.1)
  -moz-box-shadow: 1px -3px 6px  rgba(0, 0, 0, 0.1)
  box-shadow: 1px -3px 6px  rgba(0, 0, 0, 0.1)

.shadowBottom
  -webkit-box-shadow: 1px 3px 6px  rgba(0, 0, 0, 0.1)
  -moz-box-shadow: 1px 3px 6px  rgba(0, 0, 0, 0.1)
  box-shadow: 1px 3px 6px  rgba(0, 0, 0, 0.1)

.scrollbarHide
  scrollbar-width: none
  -ms-overflow-style: none
  &::-webkit-scrollbar
    display: none

.scrollbarLight
  overflow-y: auto
  padding-right: ($paddingSmall / 2)
  scrollbar-width: thin
  scrollbar-color: $grey-100 transparent
  &::-webkit-scrollbar
    width: 7px
  &::-webkit-scrollbar-track
    background: transparent
  &::-webkit-scrollbar-thumb
    background: $grey-100
    border-radius: 6px

.scrollbarRegular
  overflow-y: auto
  padding-right: ($paddingSmall / 2)
  scrollbar-width: thin
  scrollbar-color: $grey-400 transparent
  &::-webkit-scrollbar
    width: 7px
  &::-webkit-scrollbar-track
    background: transparent
  &::-webkit-scrollbar-thumb
    background: $grey-400
    border-radius: 6px
