
//Heights
$heightContentMain: 600px
$heightCalendarWeek: 477px

//Paddings
$paddingRegular: 22px
$paddingMedium: 12px
$paddingSmall: 8px
$paddingSite: 0
$paddingSiteContent: 4%

//Widths
$widthCalendar: 490px
$widthLogotype: 120px
$widthSearchBox: 300px
$widthSettings: 44%
