
//Heights
$maxHeightWidget: 504px

//Paddings
$paddingGrid: 3%
$paddingGreat: 44px
$paddingBig: 22px
$paddingMedium: 12px
$paddingSmall: 8px
$paddingSite: 0

//Widths
$widthLogotype: 120px
$widthSearchBox: 300px
$widthPopupMedium: 46%
$widthPopupSmall: 36%
$widthPopupBig: 70%
