
//Heights
$heightContentMain: 519px // Not a holy number, it just looks good with the calendar.

//Paddings
$paddingHeader: 60px
$paddingRegular: 22px
$paddingMedium: 12px
$paddingSmall: 8px

//Widths
$widthSettings: 44%
