h3
  font-size: 13px
  font-weight: 600
  text-transform: uppercase
  margin: 0 0 $padding-medium 0
  line-height: 22px

h4
  font-size: 12px
  font-weight: 600
  margin: 0 0 $padding-medium 0
  line-height: 18px
