h1
  font-size: 26px
  line-height: 30px
  font-weight: 600

h2
  font-size: 22px
  line-height: 24px
  font-weight: 600
  text-transform: uppercase

h3
  font-size: 18px
  line-height: 22px
  font-weight: 600
  text-transform: uppercase

h3.sectionHeading
  font-size: 18px
  text-transform: none
  font-weight: normal

h4
  font-size: 14px
  line-height: 24px
  font-weight: 600
  text-transform: uppercase

h5
  font-size: 12px
  font-weight: 600
  line-height: 18px
  text-transform: uppercase

// Main rule for headlines
.headlineMain
  color: $colorTextDark
  h2
    font-weight: 600
  h3
    font-size: 14px
    font-weight: normal
    color: $colorTextLight
    text-transform: none
    line-height: 22px
    display: inline

.headlineVeryLarge
  font-size: 38px
  text-transform: none
