.user
  display: grid
  grid-template-columns: 40px auto 22px
  grid-column-gap: $padding-regular / 4
  height: 100%
  align-items: center
  color: $grey-500
  text-transform: uppercase
  i.user
    color: $grey-200
    font-size: 26px
  i.settings
    cursor: pointer
    font-size: 16px
  &__icon
    grid-column-start: 1
    grid-column-end: 2
  &__name
    grid-column-start: 2
    grid-column-end: 3
    &__name
      font-weight: 600
      font-size: 11px
    &__dealer
      font-size: 11px
  &__settingsButton
    color: $teal-300
    grid-column-start: 3
    grid-column-end: 4
