// General rules
@import 'colors'
@import 'links'
@import 'sizes'
@import 'tables'
@import 'text_general'

// Domains
@import 'content'
@import 'footer'
@import 'header'

@import 'activity'
@import 'agile'
@import 'lists'
@import 'loading'
@import 'logotype'
@import 'navigation'
@import 'prospect'
@import 'search'
@import 'settings'
@import 'user'

// Media queries (place last to override rules with same specificity)
@import 'media/_breakpoints'
@import 'media/_header'

*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-size: 13px
  font-family: 'Source sans pro', sans-serif

body
  background: $grey-100
  color: $grey-700

.appHolder
  margin: 0 $padding-site
