.footer
  background: $backgroundMain
  color: $grey-300
  padding: ($padding-regular * 2)
  display: flex
  justify-content: space-between
  align-items: flex-start
  h4
    border-bottom: 1px solid $blue-grey-700
    padding-bottom: $padding-small
    margin-bottom: $padding-regular
    flex-grow: 1
  &__item
    display: flex
    justify-content: flex-start
    align-items: center
    flex-grow: 1
    margin-right: $padding-regular * 2
    &:last-of-type
      margin-right: 0
  &__breadcrumbsWrapper
    .breadcrumbs
      flex-grow: 1
      &__content
        margin-top: $padding-regular * 1.5
        a, span
          padding: $padding-small $padding-regular
          text-decoration: none
        a, span
          position: relative
          background: $blue-grey-600
          color: $blue-grey-300
          &:after, &:before
            left: 100%
            top: 50%
            border: solid transparent
            content: ''
            height: 0
            width: 0
            position: absolute
            pointer-events: none
          &:after
            border-left-color: $blue-grey-600
            border-width: 15px
            margin-top: -15px
        a
          z-index: 2
        span
          z-index: 1
          background: $blue-grey-700
          &:after
            border-left-color: $blue-grey-700
  &__contactWrapper
    .contact
      flex-grow: 1
  &__companyInfoWrapper
    .companyInfo
      flex-grow: 1
