.dealWrapper
  width: 100%
  &__deal
    &__header
      padding-bottom: $paddingMedium
      border-bottom: 1px solid $grey-300
      margin-bottom: $paddingRegular
      display: flex
      flex-direction: column
      &__top
        width: 100%
        margin-bottom: ($paddingRegular * 1.5)
        h3
          @extend .headlineVeryLarge
      &__bottom
        width: 100%
        display: flex
        justify-content: space-between
        &__left
          display: flex
          font-size: 16px
          font-weight: 400
          &__item
            margin-left: ($paddingRegular * 2)
            &:first-of-type
              margin-left: 0
            h4
              font-size: 12px
              color: $colorTextLight-1
        &__right
          &__item
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
    &__content
      &__item
        @extend .paperSheet
        color: $colorTextMain
        margin-bottom: $paddingRegular
        display: flex
        &:last-of-type
          margin-bottom: 0
        &__left
          width: auto
          margin-right: $paddingRegular
        &__right
          &__title
            @extend .headlineMain
