.dealWrapper
  padding: $paddingGrid
  &__deal
    &__header
      padding-bottom: $paddingMedium
      border-bottom: 1px solid $grey-300
      margin-bottom: $paddingGrid
      display: flex
      flex-direction: column
      &__top
        width: 100%
        margin-bottom: ($paddingBig * 1.5)
        h3
          @extend .headlineVeryLarge
      &__bottom
        width: 100%
        display: flex
        justify-content: space-between
        &__left
          display: flex
          font-size: 16px
          font-weight: 400
          &__item
            margin-left: $paddingGreat
            &:first-of-type
              margin-left: 0
            h4
              font-size: 12px
              color: $colorTextLight-1
        &__right
          &__item
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            svg
              @extend .iconStyleCircleClick
    &__content
      &__item
        margin-bottom: $paddingGrid
        &:last-of-type
          margin-bottom: 0
