.icon
  &__circle
    display: flex !important
    align-items: center !important
    justify-content: center !important
    padding: $paddingSmall !important
    color: $grey-500 !important
    background: $grey-200 !important
    border-radius: 50% !important
    cursor: default !important
    opacity: 0.8 !important
    width: 38px !important
    height: 38px !important
    &__click
      @extend .icon__circle
      color: white !important
      background: $grey-400 !important
      cursor: pointer  !important
      &:hover
        background: $grey-800 !important
