.headerWrapper
  &__header
    display: flex
    flex-direction: column
    justify-content: flex-end
    i
      font-size: 14px
      cursor: pointer
      color: white
    &__top
      background: $backgroundTertiaryColors
      padding: $paddingMedium $paddingHeader
      color: $colorTertiary-6
      display: flex
      align-items: center
      justify-content: space-between
      &__left
        margin-left: (($widthLogotype + (($paddingRegular * 2) * 2)) + 2) + $paddingRegular // Adjust for logo width
        i
          cursor: pointer

