.navigationWrapper
  border-bottom: 1px solid $grey-200
  padding: 0
  z-index: 2
  position: relative
  display: flex
  align-items: stretch
  justify-content: flex-end
  @extend .shadowTop
  &__navigation
    @extend .shadowBottom
    background: white
    padding: 0 $paddingSiteContent
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
    &__left
      overflow: hidden
      display: flex
      justify-content: flex-end
      align-items: center
      height: 100%
      svg
        color: $grey-500
        margin-bottom: $paddingMedium
        width: 18px
        height: 18px
      a
        padding: $paddingRegular ($paddingRegular * 1.5)
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
        text-decoration: none
        color: $grey-500
        text-transform: uppercase
        font-size: 12px
        font-weight: 400
        &:hover
          background: $grey-50
          color: $grey-800
          svg
            color: $grey-800
        &.active
          background: $grey-50
          color: $grey-800
          svg
            color: $grey-800
    &__right
      display: flex
      align-items: center
      justify-content: flex-end
      flex-grow: 1
      .searchWrapper
        margin: 0 $paddingRegular
        width: 60%
        &__search
          z-index: 5
          display: flex
          flex-grow: 1
          flex-direction: column
          border-bottom: 1px solid $grey-300
          &__input
            flex-grow: 1
            width: 100%
            input
              color: $colorTextMain
              padding: $paddingMedium ($paddingMedium * 1.5)
              border: 0
              width: 100%
              font-size: 16px
              border-radius: 4px
              &::placeholder
                color: $grey-400
                font-size: 13px
              &:-ms-input-placeholder
                color: $grey-400
                font-size: 13px
              &::-ms-input-placeholder
                color: $grey-400
                font-size: 13px
              &:focus
                outline-width: 0
          &__results
            position: absolute
            top: 80%
            background: white
            padding: $paddingRegular
            z-index: 5
            @extend .shadowRegular
            &__item
              color: $colorTextMain
              font-size: 15px
              margin-bottom: $paddingSmall
              cursor: pointer
              display: flex
              align-items: center
              &:last-of-type
                margin-bottom: 0
              &:hover
                color: $colorSecondary-200
                svg
                  color: $colorSecondary-200
              svg
                color: $colorTextMain
                width: 14px
                height: 14px
                margin-right: $paddingMedium

