.navigationWrapper
  .navigation
    background: linear-gradient($red-400, $red-500)
    display: flex
    justify-content: center
    color: white
    height: $height-nav
    width: 100%
    &__menu
      display: flex
      justify-content: center
      height: 100%
      align-items: center
      a
        padding: 0 ($padding-regular * 3)
        height: 100%
        display: flex
        align-items: center
        opacity: 0.8
        text-decoration: none
        color: white
        text-transform: uppercase
        font-weight: 600
        &:hover
          background: rgba(255,255,255,0.2)
          opacity: 1
        &.active
          background: rgba(255,255,255,0.2)
          opacity: 1

