.navigationWrapper
  border-bottom: 1px solid $grey-300
  z-index: 2
  position: relative
  display: flex
  align-items: stretch
  @extend .shadowRegular
  .navigation
    background: white
    display: flex
    justify-content: center
    width: 100%
    border-bottom: 4px solid $grey-100
    &__menu
      display: flex
      justify-content: center
      height: 100%
      align-items: stretch
      a
        padding: $padding-regular ($padding-regular * 2)
        height: 100%
        display: flex
        align-items: center
        text-decoration: none
        color: $colorMainBackground
        text-transform: uppercase
        font-weight: 600
        &:hover
          background: $grey-50
          color: $colorSite
        &.active
          background: $grey-50
          color: $colorSite

