.searchWrapper
  &__search
    z-index: 5
    display: flex
    background: white
    border: 1px solid $grey-200
    width: $widthSearchBox
    padding: $paddingMedium
    @extend .shadowRegular
    &__input
      flex-grow: 1
      width: 100%
      input
        color: $colorTextMain
        padding: $paddingMedium ($paddingMedium * 1.5)
        background: $backgroundBrightGrey
        border: 0
        border-bottom: 1px solid $grey-200
        width: 100%
        font-size: 16px
        border-radius: 4px
        &::placeholder
          color: $grey-400
          font-size: 13px
        &:-ms-input-placeholder
          color: $grey-400
          font-size: 13px
        &::-ms-input-placeholder
          color: $grey-400
          font-size: 13px
        &:focus
          outline-width: 0

