.search
  display: flex
  &__icon
    color: $grey-100
    flex-grow: 0
    display: flex
    align-items: center
    justify-content: flex-start
    padding: $padding-medium 0
    margin-right: $padding-regular
    i
      font-size: 20px
  &__input
    flex-grow: 1
    grid-column-start: 2
    grid-column-end: 3
    input
      color: $grey-300
      padding: ($padding-regular / 1.5)
      background: $blue-grey-800
      border: 0
      width: 100%
      font-size: 16px
      border-radius: 4px
      &::placeholder
        color: $blue-grey-400
        font-size: 13px
      &:-ms-input-placeholder
        color: $blue-grey-400
        font-size: 13px
      &::-ms-input-placeholder
        color: $blue-grey-400
        font-size: 13px

